body{
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    margin-top: 3%;
    color: white;
}

.container{
    width: 60%;
    margin: 0px auto;
    padding: 3%;
}

table{
    border-collapse: collapse;
    width: 100%;
    background-color: white;
    color: black
}

thead {
    background-color: black;
    color: white;
}

td{
    border: solid 2px;
    padding: 10px;
    border-color: black;
    border-width: 5px;
}

th{
    border: solid 2px;
    padding: 10px;
    border-color: black;
    border-width: 5px;
}
