{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class=container>
    <h1>menu</h1>
    <table>
        <thead>
            <tr>
                <td>prato</td>
                <td>ingredientes</td>
                <td>preparo</td>
            </tr>
        </thead>
        <tbody>
            {% if recipes %}
            {% for recipe in recipes %}
            <tr>
                <td>{{ recipe.recipe_name }}</td>
                <td>{{ recipe.ingredients }}</td>
                <td>{{ recipe.prep }}</td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>

{% endblock %}